<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{LayoutPadrao}">
<head>
<title>Estados</title>
</head>
<section layout:fragment="conteudo">
	<div class="panel panel-default" >
	 	<div class="panel-heading">
			<div class="clearfix">
			<h1 class="panel-title aw-titulo-panel">Pesquisa de Estados</h1>
			<a class="btn btn-link aw-link-panel" href="/estado/novo">Novo estado</a>		
			</div>	
		</div>
	<div class="panel-body">
		<form method="GET" class="form-horizontal" action="/estado" th:object="${filtro}">
			<div class="form-group">
				<div class="col-sm-4">
					<div class="input-group">
						<input class="form-control" placeholder="Qual estado você está procurando?"
							autofocus="autofocus" th:field="*{descricao}"></input>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
			<table class="table table-bordered table-striped">
			<thead>						
				<tr>
					<th class="text-center col-md-1">IdEstado</th>
					<th class="text-center col-md-1">UF</th>
					<th class="text-center col-md-2">Estados</th>
					<th class="text-center col-md-1">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estados : ${paginacao}">
					<td class="text-center" th:text="${estados.idEstado}">1</td>
					<td class="text-center" th:text="${estados.uf}"></td>
					<td class="text-center" th:text="${estados.nomeEstado}"></td>
					<td class="text-center">
						<div class = "form-group"  >
							<a type="submit" class="btn btn-info" 
							th:href="@{/estado/{codigo}(codigo=${estados.idEstado})}">Editar</a>
							
							<a type="submit" class="btn btn-danger" data-toggle="modal" 
							th:attr="data-codigo=${estados.idEstado}, data-descricao=${estados.nomeEstado}, data-elemento='estado'"
							data-target="#confirmacaoExclusao"
							>Excluir</a>					
						</div>			
					</td>
				</tr>
				<tr>
					<td colspan="6" th:if="${#lists.isEmpty(paginacao)}">Nenhum estado encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div th:replace="confirmacaoExclusao"></div>
	</div>
	<nav>
 		 <ul class="pager">
    		<li class="previous disabled"><a th:href="@{/estado?numPage={numPagina}(numPagina=${pageAnterior})}"><span aria-hidden="true">&larr;</span>Anterior</a></li>
    		<li class="next"><a th:href="@{/estado?numPage={numPagina}(numPagina=${pageProximo})}" th:if="${!#lists.isEmpty(paginacao)}" 
    			th:unless="${!#lists.isEmpty(filtro.descricao)}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
 		 </ul>
	</nav>
</section>
</html>